@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap');

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #6c9f50;
}

.game-container{
  width: 100%;
}

.game__title{
  text-align: center;
  font-size: 2em;
  font-family: "Stint Ultra Condensed", serif;
  margin: 10px auto;
}

/*Default Button*/
.button{
  border-style: none;
  padding: 6px;
  cursor: pointer;
  font-family: "Stint Ultra Condensed", serif;
  background-color: #ffc83d;
  font-size: 28px;
  margin: 4px;
  font-weight: bold;
  border-radius: 4px;
}

.button:hover{
   background-color: #e9b637;
}

/*Main menu*/
.menu{
  background-color: #fdd8a8;
  margin: 4px auto;
}

.menu__container{
  font-family: "Stint Ultra Condensed", serif;
  padding: 10px;
  text-align: center;
}

.menu__info{
  font-family: "Stint Ultra Condensed", serif;
  font-size: 24px;
  color: #3b2819;
  margin-bottom: 10px;
}


/*Leaderboard*/
.leaderboard{
  display: none;
  background-color: #fdd8a8;
  font-family: "Stint Ultra Condensed", serif;
  margin: 4px auto;
  text-align: center;
  font-weight: normal;
}

.leaderboard__header{
  width: 100%;
  background-color: #641f16;
}

.leaderboard__title{
  font-size: 1.8em;
  color:#fdd8a8;
}

.leaderboard__table{
  padding: 8px;
  color: #3b2819;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

.leaderboard__table td{
  width: 30%;
}

.leaderboard__table thead{
  font-weight: bold;
}

.leaderboard__footer{
  padding: 8px;
}

/*Game board*/
.board{
  margin: auto;
  padding: 4px;
  display: none;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4px;      
}

.board__flip-card{
  background-color: transparent;
  margin: 4px;
  perspective: 1000px;
  aspect-ratio: 1
}

.board__flip-card-inner{
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.board__flip-card:active .board__flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.board__flip-card-front, .board__flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.board__flip-card-front {
  width: 100%;
  height: 100%;
  opacity: 0.8;
  background-image:  repeating-linear-gradient(45deg, #51afef 25%, transparent 25%, transparent 75%, #51afef 75%, #51afef), repeating-linear-gradient(45deg, #51afef 25%, #9fccf3 25%, #9fccf3 75%, #51afef 75%, #51afef);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;
}

/* Style the back side */
.board__flip-card-back {
  background-color: white;
  transform: rotateY(180deg);
  font-size: 38px;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}



/*Results*/
.results{
  display: none;
  background-color: #fdd8a8;
  margin: 4px auto;
  text-align: center;
  font-family: "Stint Ultra Condensed", serif;
  color: #3b2819;
  padding: 32px 0;
}

.results__fields{
  display:flex;
  justify-content: center;
  align-items: center;
}

.results__title{
  font-size: 2em;
  font-weight: bold;
}

#results__time{
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 8px;
}

.results__player-name{
  padding: 4px;
}

.button--submit{
  font-size: 1.3em;
  padding: 2px 4px;
 }


@media (min-width: 1250px) {
  .board{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .menu, .leaderboard, .results, .board{
    width: 50%;
  }

}