@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
  margin: 0;
  padding: 0;
}

html{
  font-size: 62.5%;
}

body{
  position:relative;
  background: url("./images/table.jpg");
  background-repeat: repeat-y;
  height: 90vh;
}

.game__container{
  width: 100%;
 position:relative;
}

.game__title{
  text-align: center;
  font-size: 2.2rem;
  font-family: "Varela Round", serif;
  font-weight:bold ;
  margin: 10px auto;
  background-color: #eed5ae;
}

.game_title-point1{
  color: #b53312;
}

.game_title-point2{
  color: #de9c2e;
}



/*Default Button*/
.button{
  border-style: none;
  padding: 6px;
  cursor: pointer;
  font-family: "Varela Round", serif;
  background-color: #ffc83d;
  font-size: 1.7rem;
  margin: 4px;
  font-weight: bold;
  border-radius: 4px;
}

.button--small{
  font-size: 1.4rem;
  padding: 4px 4px;
}

#btnExit{
  position: absolute;
  bottom:0;
  right:0;
  z-index: 2100;
  display:none;
  
}



.button:hover{
   background-color: #e9b637;
}

/*Main menu*/
.menu{
  display:none;
  background-color: #fdd8a8;
  margin: 4px auto;
}

.menu__container{
  font-family: "Varela Round", serif;
  padding: 10px;
  text-align: center;
}

.menu__info{
  font-family: "Varela Round", serif;
  font-size: 1.6rem;
  color: #3b2819;
  margin-bottom: 10px;
}

.menu__buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Leaderboard*/
.leaderboard{
  display: none;
  background-color: #fdd8a8;
  font-family: "Varela Round", serif;
  margin: 4px auto;
  text-align: center;
  font-weight: normal;
}

.leaderboard__header{
  width: 100%;
  background-color: #641f16;
}

.leaderboard__title{
  font-size: 1.8rem;
  color:#fdd8a8;
}

.leaderboard__table{
  padding: 8px;
  color: #3b2819;
  text-align: center;
  font-size: 1.5em;
  width: 100%;
}

.leaderboard__table td{
  width: 30%;
}

.leaderboard__table thead{
  font-weight: bold;
}

.leaderboard__footer{
  padding: 8px;
}

/*Game board*/
.board{
  position:relative;
  margin: auto;
  padding: 4px;
  display: none;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}

.board__flip-card{
  background-color: transparent;
  margin: 4px;
  perspective: 1000px;
  aspect-ratio: 1
}

.board__flip-card-inner{
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  cursor: pointer;
}


.animation__show-card{
  transform: rotateY(180deg);
}

#protection{
  position:absolute;
  width: 100%;
  height: 100%;
  display:none;
  z-index: 1000;
}

#notification{
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1100;
  
}

#notification p{
  font-family: "Varela Round", serif;
  font-size: 4rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.board__flip-card-front, .board__flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
}

.board__flip-card-front {
  width: 100%;
  height: 100%;
  background: url("./images/frontcard.jpg");
  background-size: contain;
  /*opacity: 0.8;*/
  /*background-image:  repeating-linear-gradient(45deg, #eed5ae 25%, transparent 25%, transparent 75%, #eed5ae 75%, #eed5ae), repeating-linear-gradient(45deg, #eed5ae 25%, #ac3419 25%, #ac3419 75%, #eed5ae 75%, #eed5ae);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;*/
}


.board__flip-card-back {
  background-color: #eed5ae;
  transform: rotateY(180deg);
  font-size: 3.8rem;
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Results*/
.results{
  display: none;
  background-color: #fdd8a8;
  margin: 4px auto;
  text-align: center;
  font-family: "Varela Round", serif;
  color: #3b2819;
  padding: 32px 0;
}

.results__fields{
  display:flex;
  justify-content: center;
  align-items: center;
}

.results__title{
  font-size: 2rem;
  font-weight: bold;
}

#results__time{
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 8px;
}

label{
  font-size: 1.5rem;
}

.results__player-name{
  padding: 4px;
}

form{
  display: flex;
}

.results__fields-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#alert{
  font-size: 1.3rem;
  color: red;
}

.button--submit{
  font-size: 1.5rem;
  padding: 2px 4px;
 }


@media (min-width: 1250px) {
  

  .menu, .leaderboard, .results {
    width: 50%;
  }

  .board{
    height: 85vh;
    aspect-ratio: 1;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  body{
    height: 95vh;
  }


}